@charset "utf-8";


/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	/*background: #f4f3f3 url(./bg1.jpg);	/*背景色と壁紙*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
video {max-width: 100%;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666;	/*リンクテキストの色*/
	transition: 0.2s;	/*マウスオン時の移り変わるまでの時間設定。0.2秒。*/
}
a:hover {
	color: #0009c1;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*inner共通（header内と、contents内で使っています）
---------------------------------------------------------------------------*/
.inner {
	max-width: 1200px;	/*最大幅*/
	margin: 0 auto;
}

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	background: url(.);	/*背景画像の読み込み*/
}
/*ヘッダーのinnerへの追加設定*/
header .inner {
	position: relative;
	height: 200px;	/*高さ*/
}
/*ヘッダーのinnerへの追加設定（トップページへの追加設定）*/
/*ヘッダーのinnerへの追加設定（トップページへの追加設定）*/
.top header .inner {
	height: 550px;
	background: url(./bhheader.png) no-repeat center center;			/*背景画像の読み込み（古いブラウザ用）*/
	background: url(./bhheader.png) no-repeat center center /100%;	/*背景写真の読み込み。幅100%。*/
}
/*ロゴ画像の設定*/
header #logo {
	position: absolute;
	right: 3%;		/*ヘッダーブロックに対して左から3%の位置に配置*/
	top: 100px;		/*ヘッダーブロックに対して上から40pxの位置に配置*/
	width: 300px;	/*画像の幅*/
}


/*コンテンツ（mainとsubを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	clear: both;
	overflow: hidden;
	background: #FFF;	/*背景色*/
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);	/*影の設定。右へ、下へ、広げる幅、0,0,0は黒の事で0.2は20%色がついた状態。*/
	border-radius: 10px;	/*角丸のサイズ*/
	padding: 30px;		/*ボックス内の余白*/
	margin: 40px 3% 0;	/*ボックスの外への余白。上、左右、下。*/
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {

	padding-bottom: 30px;
}
/*１カラム時のmainコンテンツ*/
.c1 #main {
	float: none;
	width: auto;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	clear: both;
	margin-bottom: 20px;
	color: #0009c1;		/*文字色*/
	border-bottom: 3px solid #0009c1;	/*下線の幅、線種、色の設定*/
	padding-left: 20px;	/*左にあける余白*/
	font-size: 20px;	/*文字サイズ*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	margin-bottom: 20px;
	background: #FFF;	/*背景色*/
	padding: 4px 20px;	/*上下、左右への余白*/
	border-radius: 30px;		/*角丸のサイズ*/
	border: 1px solid #ccc;		/*枠線の幅、線種、色*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0 20px 20px;	/*上、左右、下への余白*/
}
/*他*/
#main h2 + p,
#main h3 + p {
	margin-top: -5px;
}
#main p + p {
	margin-top: -10px;
}

/*メインコンテンツ内の「list」ボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#main .list {
	position: relative;overflow: hidden;
	margin-bottom: 20px;	/*ボックスの外（下）に空けるスペース*/
}
#main .list a {
	display: block;text-decoration: none;overflow: hidden;
	padding: 20px;	/*ボックス内の余白*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
}
/*マウスオン時*/
#main .list a:hover {
	border: 1px solid #0009c1;	/*枠線の幅、線種、色*/
	background: #f4fafb;		/*背景色*/
}
/*写真*/
#main .list figure img {
	width: 25%;			/*写真の幅*/
	float: left;		/*左に回り込み*/
	border-radius: 50%;	/*円形にくり抜く指定。通常通りに表示させたいならこの１行削除。*/
}
/*h4タグ*/
#main .list h4 {
	margin-left: 28%;	/*左に空けるスペース。写真(figure)のwidth指定とバランスをとって指定する。*/
	color: #0009c1;		/*文字色*/
	font-size: 18px;	/*文字サイズ*/
	border-bottom: dashed 1px #0009c1;	/*枠線の幅、線種、色*/
	margin-bottom: 10px;	/*下に空けるスペース*/
}
/*段落(p)タグ*/
#main .list p {
	padding: 0 !important;
	margin-left: 28%;	/*左に空けるスペース。写真(figure)のwidth指定とバランスをとって指定する。*/
}

/*メインコンテンツ内の「list2」ボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#main .list2 {
	overflow: hidden;
	position: relative;
	width: 22%;		/*幅*/
	float: left;	/*左に回り込み*/
	text-align: center;	/*内容をセンタリング*/
	margin-left: 2.4%;	/*ボックス同士に空ける左右間のスペース*/
	font-size: 12px;	/*文字サイズ*/
	margin-bottom: 20px;	/*ボックスの下に空ける上下間のスペース*/
}
#main .list2 a {
	display: block;text-decoration: none;overflow: hidden;
}
/*h4タグ*/
#main .list2 h4 {
	height: 1.5em;	/*高さ。レイアウトが崩れるのを防ぐ為、２行目以降は非表示になります。*/
}
/*写真のマウスオン時*/
#main .list2 a:hover figure img {
	opacity: 0.7;	/*透明度*/
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	width: 21%;		/*ボックスの幅*/
	float: left;	/*左に回り込み*/
	padding-bottom: 30px;
}
/*１カラム時のsubコンテンツ*/
.c1 #sub {
	display: none;	/*非表示*/
}
/*h2タグ*/
#sub h2 {
	background: #999;	/*背景色*/
	color: #fff;		/*文字色*/
	text-align: center;	/*文字をセンタリング*/
	padding: 8px 0;		/*上下、左右へのh2内の余白*/
	border-radius: 10px 10px 0px 0px;	/*角丸のサイズ。左上、右上、右下、左下への順。*/
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
ul.submenu {
	margin-bottom: 20px;	/*メニューブロックの下に空けるスペース*/
	border: solid 1px #ccc;	/*枠線の幅、線種、色*/
	border-bottom: none;	/*下の線だけ消す設定*/
	text-align: center;		/*文字をセンタリング*/
}
/*メニュー１個ごとの設定*/
ul.submenu li {
	border-bottom: solid 1px #ccc;	/*下の線の線種、幅、色*/
}
ul.submenu li a {
	text-decoration: none;display: block;
	padding: 5px;	/*メニュー内の余白*/
}

/*サブコンテンツ内のlistボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#sub .list {
	position: relative;overflow: hidden;
	font-size: 11px;	/*文字サイズを少し小さくする（デフォルトは最上段のbody内にあります）*/
	line-height: 1.3;	/*行間を少し狭くする（デフォルトは最上段のbody内にあります）*/
}
#sub .list a {
	display: block;text-decoration: none;overflow: hidden;
	padding: 8px 0;	/*上下、左右へのメニュー内の余白*/
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色	*/
}
/*写真*/
#sub .list figure img {
	width: 25%;		/*写真の幅*/
	float: left;	/*左に回り込み*/
	margin-right: 5px;	/*写真の右に空けるスペース*/
}


/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	padding: 15px;
	color: #fff;
}
footer .pr {
	display: block;
	font-size: 80%;
}
footer a {
	text-decoration: none;
	color: #fff;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*お知らせブロック*/
#new {
	margin-bottom: 20px;
}
/*見出しを含まないお知らせブロック*/
#new dl {
	padding: 0px 20px;		/*上下、左右へのブロック内の余白*/
}
/*日付設定*/
#new dt {
	float: left;
	width: 9em;		/*幅*/
	color: #666;	/*文字色*/
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 9em;
}

/*テーブル１
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #ccc;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: left;		/*文字を左寄せ*/
	background: #eee;		/*背景色*/
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
}
/*テーブル設定*/
.ta1 {
	width: 100%;
	margin: 0px auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	border: 1px solid #ccc;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px;	/*ボックス内の余白*/
	word-break: break-all;
}
/*左側ボックス*/
.ta1 th {
	width: 180px;	/*幅*/
	text-align: center;	/*背景色*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	background: #eee;		/*背景色*/
}
/*こだわり検索のフロート指定(CMS用)*/
.ta1 td .specialbox {
	float: left;
	width: 45%;
}

/*inputボタン
---------------------------------------------------------------------------*/
#contents input[type="submit"].btn,
#contents input[type="button"].btn,
#contents input[type="reset"].btn {
	padding: 5px 20px;		/*上下、左右へのボックス内の余白*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	font-size: 20px;		/*文字サイズ*/
	border-radius: 3px;		/*角丸のサイズ*/
	background: #eee;		/*背景色*/
}
/*マウスオン時の設定*/
#contents input[type="submit"].btn:hover,
#contents input[type="button"].btn:hover,
#contents input[type="reset"].btn:hover {
	border: 1px solid #999;	/*枠線の幅、線種、色*/
	background: #fff;		/*背景色*/
}

/*ページの上部に戻る「↑」ボタン
---------------------------------------------------------------------------*/
@keyframes scroll {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*通常時のボタンは非表示*/
body .nav-fix-pos-pagetop a {
	display: none;
}
/*fixmenu_pagetop.jsで設定している設定値になったら出現するボタンスタイル*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;
	width: 50px;	/*ボタンの幅*/
	line-height: 50px;	/*ボタンの高さ*/
	z-index: 100;
	position: fixed;
	bottom: 50px;	/*ウィンドウの下から50pxの場所に配置*/
	right: 5%;		/*ウィンドウの右から5%の場所に配置*/
	background: #000;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.6);	/*背景色。0,0,0は黒の事で0.6は60%色がついた状態。*/
	color: #fff;	/*文字色*/
	border-radius: 50%;	/*角丸指定。50%にすると円形になる。四角形がいいならこの１行削除。*/
	animation-name: scroll;	/*上のアニメーションで指定しているkeyframesの名前（scroll）*/
	animation-duration: 1S;	/*アニメーションの実行時間*/
	animation-fill-mode: forwards;	/*アニメーションの完了後、最後のキーフレームを維持する*/
}
/*マウスオン時の背景色*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;
}

/*一覧ページのボックス内のアイコン
（CMSの場合は管理ページの「オプション1」～のプルダウンと、setup.phpの「オプション選択肢」に関連します）
---------------------------------------------------------------------------*/
/*option1,option2共通*/
span.option1, span.option2 {
	text-align: center;
	display: block;
	font-size: 10px;	/*文字サイズ*/
	width: 120px;		/*幅*/
	position: absolute;
	right: 0px;	/*ボックスに対して右から0pxの場所に配置*/
	top: 0px;	/*ボックスに対して上から0pxの場所に配置*/
	transform: rotate(45deg) translate(36px,-15px);	/*45度回転、右へ,下へ(マイナス設定なので上へ向けての指定)の移動距離*/
	color: #FFF;	/*文字色*/
	background: #ccc;	/*背景色*/
}
/*option1への追加設定*/
span.option1 {
	color: #FFF;		/*文字色*/
	background: #F00;	/*背景色*/
}
/*h2タグ内で使った場合のoption1とoption2*/
h2 span.option1, h2 span.option2 {
	width: auto;
	position: static;
	transform: none;
	display: inline-block;
	font-size: 15px;
	margin-left: 10px;
	padding: 0px 5px;
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;		/*文字サイズ*/
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*checkブロック。赤い注意書きブロックです。
---------------------------------------------------------------------------*/
p.check {
	background: #ff0000;	/*背景色*/
	color:#fff;				/*文字色*/
	padding: 10px 25px !important;	/*上下、左右へのボックス内余白*/
	margin-bottom: 20px;
}
p.check a {color: #fff;}

/*その他
---------------------------------------------------------------------------*/
.look {background: #ccc;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px;list-style: disc;}
.color1, .color1 a {color: #f95f9c !important;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center !important;}
.r {text-align: right !important;}
.l {text-align: left !important;}
.fl {float: left;}
img.fl {float: left;width:30%;margin-right: 20px;margin-bottom: 20px;}
.fr {float: right;}
img.fr {float: right;width:30%;margin-left: 20px;margin-bottom: 20px;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}



/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーのinnerへの追加設定*/
header {
	height: fit-content;
}
header .inner {
	height: 120px;	/*高さ*/
}
/*ヘッダーのinnerへの追加設定（トップページへの追加設定）*/
.top header .inner {
	height: 250px;	/*高さの再指定*/
}
/*ロゴ画像の設定*/
header #logo {
	width: 200px;	/*画像の幅*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。透明(0%)から色を100%出すアニメーション指定。*/
@keyframes menu1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: hidden;
	position: absolute;
	top: 120px;	/*上から120pxの場所に配置*/
	border-top: 1px solid #fff;		/*上の線の幅、線種、色*/
	width: 100%;
	z-index: 10;
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの完了後、最後のキーフレームを維持する*/
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	display: block;text-decoration: none;
	padding: 15px 10px 15px 20px;	/*上、右、下、左へのメニュー内の余白*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	background: rgba(0,0,0,0.8);	/*背景色*/
	font-size: 20px;
	color: #fff;	/*文字色*/
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;
	top: 30px;	/*上から30pxの場所に配置*/
	right: 3%;	/*右から3%の場所に配置*/
	border: 1px solid #000;	/*枠線の幅、線種、色*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 50px;	/*幅*/
	height: 50px;	/*高さ*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: #fff url(../images/icon_menu.png) no-repeat center top/50px;
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: #fff url(../images/icon_menu.png) no-repeat center bottom/50px;
}

/*main,sub,side,contents-in
---------------------------------------------------------------------------*/
#main, #sub, .inner {
	float: none;
	width: auto;
}

/*sub,sideコンテンツ内のおすすめ一覧ブロック
---------------------------------------------------------------------------*/
/*ボックス内の写真設定*/
#sub .list figure img, #side .list figure img {
	width: 20%;		/*写真の幅*/
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub,body.s-n #side,body.s-n #footermenu {display: none;}
.sh {display:block;}
.pc {display:none;}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーのinnerへの追加設定（トップページへの追加設定）*/
.top header .inner {
	height: 200px;	/*高さの再指定*/
}

/*コンテンツ（mainとsubを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	padding: 15px;		/*ボックス内の余白*/
	margin: 20px 3% 0;	/*ボックスの外への余白。上、左右、下。*/
}

/*mainコンテンツ（中央のブロック）
---------------------------------------------------------------------------*/
/*mainコンテンツのh2,h3タグ設定*/
#main h2, #main h3 {
	font-size: 14px;	/*文字サイズ*/
	padding-left: 10px;
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0 10px 20px;	/*上、左右、下への余白*/
}

/*メインコンテンツ内の「list」ボックス
---------------------------------------------------------------------------*/
#main .list a {
	padding: 10px;	/*ボックス内の余白*/
}
/*h4タグ*/
#main .list h4 {
	font-size: 12px;	/*文字サイズ*/
}

/*メインコンテンツ内の「list2」ボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#main .list2 {
	width: 45%;			/*幅*/
	margin-left: 3%;	/*ボックス同士に空ける左右間のスペース*/
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	padding: 5px;
}
/*テーブル内の左側*/
.ta1 th {
	width: 100px;
	padding: 5px;
}
/*テーブル内の右側*/
.ta1 td {
	width: auto;
	padding: 5px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
img.fr,img.fl {float: none;margin: 0;width: 100%;}

}



/*画面幅400px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:400px){

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーのinnerへの追加設定*/
header .inner {
	height: 100px;	/*高さ*/
}
/*ロゴ画像の設定*/
header #logo {
	width: 100px;	/*画像の幅*/
}

}
